@model IEnumerable<PlanningApp.Models.plantHireOrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderNumberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weeklyrate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateRequiredOnSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offHiredNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offHireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSMA_TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plantHireOrder.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderNumberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weeklyrate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateRequiredOnSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offHiredNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offHireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSMA_TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plantHireOrder.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemOrderID })
        </td>
    </tr>
}

</table>
