@model PlanningApp.Models.plantHireOrder

@{
    ViewBag.Title = "Create";
}

<h2>Create A New Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

                <input type="submit" value="Email" class="btn btn-default" />
                <br />
                <br />
                <input type="submit" value="Print" class="btn btn-default" />
                <br />
                <br />
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="control-label col-md-3">
                        <span class="label label-default form-control">Order Number </span> <br /> <br /> <br />
                        <span class="label label-default form-control">Title</span> <br /> <br />
                        <span class="label label-default">Depot Contact</span> <br />
                        <span class="label label-default">Email Address</span> <br />
                        <span class="label label-default">Telephone</span>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.orderNumberID, new { htmlAttributes = new { @class = "form-control" } }) <br /> @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } }) <span class="label label-default">Label</span> <span class="label label-default">Label</span>
                    </div>
                    <div class="col-md-3">
                        <span class="label label-default form-control">Project Name</span><br /> <br /><br />
                        <span class="label label-default form-control">Site Address</span><br /> <br /> <br />
                        <span class="label label-default form-control">Address cont</span><br /> <br />
                        <span class="label label-default form-control">Address cont</span><br /> <br /> <br />
                        <span class="label label-default form-control">Post Code</span><br /> <br /><br />
                        <span class="label label-default form-control">Site Contact</span><br /><br />
                        <span class="label label-default form-control">Originator</span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("projectID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.LabelFor(model => model.project.siteAddress1, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.LabelFor(model => model.project.siteAddress2, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.LabelFor(model => model.project.siteAddress3, new { htmlAttributes = new { @class = "form-control" } })<br />
                        @Html.LabelFor(model => model.project.sitePostCode, new { htmlAttributes = new { @class = "form-control" } }) <br />
                        @Html.EditorFor(model => model.siteContact, new { htmlAttributes = new { @class = "form-control" } }) <br />
                        @Html.EditorFor(model => model.originator, new { htmlAttributes = new { @class = "form-control" } })<br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <br />
                        <span class="label label-default form-control">Vendor Address</span>
                    </div>
                    <div class="col-md-10">
                        <br />
                        <span class="form-control" @Html.EditorFor(model => model.title)></span>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.Label("Item", htmlAttributes: new { @class = "control-label col-md-2" })
                            </th>
                            <th>
                                @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                            </th>
                            <th>
                                @Html.Label("Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                            </th>
                            <th>
                                @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-8" })
                            </th>
                            <th>
                                @Html.Label("Weekly Rate", htmlAttributes: new { @class = "control-label col-md-4" })
                            </th>
                            <th>
                                @Html.Label("Discount %", htmlAttributes: new { @class = "control-label col-md-4" })
                            </th>
                            <th>
                                @Html.Label("Hire Cost £", htmlAttributes: new { @class = "control-label col-md-4" })
                            </th>
                            <th>
                                Date Req'd <br />
                                on site
                            </th>
                            <th>
                                Duration <br />
                                approx
                            </th>
                            <th>
                                @Html.Label("Off Hired", htmlAttributes: new { @class = "control-label col-md-8" })
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.EditorFor(model => model.item, new { htmlAttributes = new { @class = "control-label col-md-4" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.unit, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "control-label col-md-24" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.weeklyRate, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.hireCost, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.dateRequiredOnSite, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.offHireDate, new { htmlAttributes = new { @class = "control-label col-md-8" } })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
<div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
