@model IEnumerable<PlanningApp.Models.plantHireOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendorLocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weeklyRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateRequiredOnSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offHireNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offHireDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vendorLocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weeklyRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateRequiredOnSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offHireNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offHireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderNumberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderNumberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderNumberID })
        </td>
    </tr>
}

</table>
