@model IEnumerable<PlanningApp.Models.plantHireOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vendorLocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateRequiredOnSite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offHireNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.siteContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.originator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.siteName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderNumberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vendorLocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateRequiredOnSite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offHireNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.siteContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.siteName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderNumberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderNumberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderNumberID })
        </td>
    </tr>
}

</table>
